/* Your Website Styles */
h1	{
color: #D2CA32;
font-family: 'Quicksand', sans-serif;
width: 300px;
padding: 10px;
border: 5px solid black;
margin: 100px orange;


}
#map {
margin-top: -60px

}

body	{
background: url(../img/bg.png);

}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}